@font-face {
    font-family: Burlington;
    src : url('/fonts/custom/burlington.ttf');
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
}

textarea{
    resize: none;
 }

.col-md-8 .block, .col-md-4 .block{
    background-color: white;
    padding: 25px;
    margin-bottom: 50px;
    overflow: auto;
    font-family: Raleway;
}

.col-md-8 .block h4, .col-md-4 .block h4{
    margin: 20px auto;
    font-weight: lighter;
}

.col-md-4 .block h3{
    margin-bottom: 30px;
}

.form-control{
    border-radius: 0px;
}
body{
    background-color: #f8f8f8;
}

.btn{
    border-radius: 0px;
}

.modal{
    top: 60px;
}

.modal-content{
    border-radius: 0px;
    box-shadow:none;
    -webkit-box-shadow: none;
}

.navbar-default{
    padding: 10px 0px;
    border-radius: 0px;
    background-color: white;
    border-color: white;
}

.navbar-brand{
    font-family: Burlington;
    font-size: 50px;
    color: black !important;
}

.navbar-default .navbar-nav>li>a{
    font-size: 18px;
    font-family: Raleway;
    outline: none;
}

h2{
    text-align: center;
    font-family: Raleway;
    margin: 25px auto;
    margin-top: 20px;
}

.content{
    min-height: 520px;
}

.todo-task {
    background-color: white;
    padding: 30px 30px;
    font-family: Raleway;
    margin-bottom: 25px;
}

span.date {
    color: rgba(0,0,0,0.4);
    font-weight: lighter;
    font-size: 18px;
    margin-left: 20px;
}

.status{
    margin-left: 10px;
}

.todo-success{
    color: #2ecc71;
}

.todo-fail{
    color: #d35400 !important;
}

.action a{
    color: rgba(0,0,0,0.5);
    font-size: 18px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: lighter;
    transition: all 0.2s ease-in-out;
}

.action a:focus, .action a:hover{
    color: rgba(0,0,0,1);
}

footer{
    background-color: white;
    font-family: 'Raleway';
    padding: 15px 0px;
    padding-bottom: 5px;
    width: 100%;
}